body {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 0 4000px;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Fügt die overflow-Eigenschaft hinzu */
}

.boxy {
  width: 33rem; /* Etwas größer als die Breite von .catbody für Rand */
  height: 14rem; /* Entsprechend der Breite */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px; /* Optional, fügt abgerundete Ecken hinzu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional, fügt Schatten hinzu */
}

.button-testy{
  background-color: white;
  border: none;
}



