body {
  /* background-color: rgb(14, 14, 14);*/
  margin: 0 4rem;
  background-color: rgb(14, 14, 14);
}

main {
  margin: 0 0 100vw 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
  margin-top: 0.625rem;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
