.hidden {
  opacity: 0 !important;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transition-delay: 0.1s
}

.visible {
  opacity: 1 !important;
  transform: translateY(0);
}

.middle-part-container {
  /*if I use the short form for writing margin, it somehow overwrites other parts of css. It doesn't make sense but it does that*/
  margin-top: 13vh;
  margin-right: 3vw;
  margin-left: 3vw;
}

.outer-container-top-part {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.outer-container-middle-part {
  margin-top: 20vw;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.outer-container-bottom-part {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.general-styling {
  color: rgb(197, 211, 249);
  font-family: "Alfa Slab One", serif;
  font-size: 5.2vw;
  margin: 0 0 0 0;
  white-space: nowrap;
  letter-spacing: 2px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.Majora-font-styling {
  font-style: italic;
  font-weight: 900;
  color: rgb(152, 168, 212);
  text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000,
    4px 4px 0 #000;
}

.text-description-right-bottom {
  height: auto;
  width: 47%;
  font-size: 2.5vw;
  white-space: inherit;
  margin-left: 2rem;
}

.Welcome-video-row,
.User-video-row,
.Majora-here-video-row,
.description-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-form {
  width: 100%;
  height: 6vw;
  border-radius: 55px;
  margin: 0 0 0 2rem;
}

.background-image-default-settings {
  background-size: cover;
  background-repeat: no-repeat;
}

.one-background-image-editing {
  background-image: url("../assets/Images/water-rainy-shine.jpg");
  background-position: 0 72%;
}

.second-background-image-editing {
  background-image: url("../assets/Images/city-hall.jpg");
  background-position: 0 45%;
}

.third-background-image-editing {
  background-image: url("../assets/Images/flower-sunset.jpg");
  background-position: 0 35%;
}

.fourth-background-image-editing {
  background-image: url("../assets/Images/winter-road-snowy.jpg");
  background-position: 0 80%;
  margin-left: 0rem;
  margin-right: 2rem;
}

.top-bottom-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.middle-right-box,
.top-left-box,
.bottom-left-box {
  border-radius: 36px;
}

.top-left-box,
.bottom-left-box {
  margin: 0 3vw 3.5vw 0;
  height: 18vw;
}

.top-left-box {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-left-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Images/clock-on-bench.jpg");
  filter: brightness(44%);
  z-index: 0;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 60%, 0;
  overflow: hidden;
}

.black-transparent-box-top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 58%;
  width: 92%;
  border-radius: 30px;
}

.year-in-percentage-text {
  z-index: 1;
  color: rgb(122, 172, 231);
  font-size: 2.5vw;
  font-weight: bold;
  font-family: "Alfa Slab One", system-ui;
}

.of-the-year-has-passed-text {
  z-index: 1;
  color: rgb(197, 211, 249);
  font-weight: bold;
  font-family: "Alfa Slab One", system-ui;
  font-size: 1.5vw;
}

.dynamic-date-year-text {
  z-index: 1;
  color: rgb(197, 211, 249);
  font-weight: bold;
  font-family: "Alfa Slab One", system-ui;
  font-size: 1.5vw;
  margin-top: 2vh;
}

.bottom-left-box {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bottom-left-box::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Images/city-hall.jpg");
  filter: brightness(44%);
  z-index: 0;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 55% 0;
  overflow: hidden;
}

.bottom-left-box-text {
  font-family: "Alfa Slab One", system-ui;
  font-size: 1.3rem;
  position: relative;
  align-items: start;
  color: rgb(197, 211, 249);
}

.middle-right-box {
  flex: 1.8;
  height: 39.5vw;
  margin: 0 0 0 3vw;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.middle-right-box::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Images/snowy-house.jpg");
  filter: brightness(25%);
  background-position: 40% 45%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 140%;
  z-index: 0;
}

.black-transparent-box-middle-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 90%;
  width: 80%;
  border-radius: 30px;
}

.rock-paper-scissors-middle-right-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-self: center;
  text-align: center;
  z-index: 1;
}

.rock-paper-scissors-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win-lose-ties-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Alfa Slab One", system-ui;
}

.rock-paper-scissors-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5vh;
  font-family: "Alfa Slab One", system-ui;
  color: rgb(197, 211, 249);
}

.rock-paper-scissors-icon {
  height: 10vh;
}

.button-icon-css {
  background-color: transparent;
  border-radius: 100px;
  color: rgb(197, 211, 249);
  border-style: solid;
  padding: 40px;
  margin-right: 40px;
  cursor: pointer;
  border-color: rgb(197, 211, 249);
}

.button-icon-css:hover {
  background-color: rgb(30, 30, 30);
}

.button-icon-css:active {
  background-color: rgb(35, 35, 35);
}

.rock-paper-scissors-result {
  color: rgb(197, 211, 249);
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Alfa Slab One", system-ui;
}

.score {
  color: rgb(197, 211, 249);
  margin-top: 2vh;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Alfa Slab One", system-ui;
}

.you-and-computer {
  color: rgb(197, 211, 249);
  font-size: 2rem;
  font-weight: bold;
  font-family: "Alfa Slab One", system-ui;
}

.reset-score {
  height: 60px;
  width: 313px;
  border-radius: 50px;
  border-style: solid;
  color: rgb(197, 211, 249);
  font-size: 25px;
  font-weight: bold;
  color: rgb(197, 211, 249);
  background-color: rgb(30, 30, 30);
  cursor: pointer;
  margin-top: 25px;
}

.reset-score:hover {
  background-color: rgb(35, 35, 35);
}

.reset-score:active {
  background-color: rgb(40, 40, 40);
}

.article-preview-boxes-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 60vh;
  background-color: rgb(21, 21, 21);
  padding: 0 9rem;
  margin: 20vh -5vw 15vh -8vw;
}

.article-preview-box-border-animation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  width: 100%;
  max-width: 16vw;
  height: 23.5vw;
  border-radius: 20px;
  transition: all 0.3s;
}

.article-preview-box-border-animation:hover {
  box-shadow: 0 0 30px 1px rgba(0, 255, 117, 0.3);
}

.article-preview-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(48, 48, 48);
  width: 100%;
  max-width: 16vw;
  height: 23.5vw;
  border-radius: 17px;
  transition: all 0.2s;
}

.article-preview-box:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.article-preview-box-image {
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 46%;
  background-color: rgb(24, 12, 59);
  border-radius: 20px;
  border: rgb(0, 0, 0, 0.4) solid 3px;
  margin-top: 1vw;
}

.article-preview-box-image::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.article-preview-box-image-left::before {
  background-image: url("../assets/Images/broken-glass-sunlight.jpg");
  background-position: 0 25%;
  background-size: 170%;
}

.article-preview-box-image-middle-left::before {
  background-image: url("../assets/Images/broken-glass-sunlight.jpg");
  background-position: 0 25%;
  background-size: 170%;
}

.article-preview-box-image-middle-right::before {
  background-image: url("../assets/Images/snowy-village.jpg");
  background-position: 50% 50%;
  background-size: 120%;
}

.article-preview-box-image-right::before {
  background-image: url("../assets/Images/village-asian.jpg");
  background-position: 50% 50%;
  background-size: 120%;
}

.article-preview-box-text-content {
  width: 90%;
  height: auto;
  flex: 1;
  margin-bottom: 3vw;
}

.article-preview-meta-data-text,
.article-preview-description-text {
  line-height: 1.4;
  word-wrap: break-word;
  font-family: "Alfa Slab One", system-ui;
  color: rgb(193, 203, 231, 0.8);
  font-size: 0.9rem;
}

.article-preview-title-text {
  font: bold 1.4rem "Alfa Slab One", system-ui;
  margin-top: 1.5vh;
}

.quoteOneStyling {
  font-size: 3.5vw;
}

.quoteTwoStyling {
  font-size: 3.7vw;
}

.quoteThreeStyling {
  font-size: 3.5vw;
}

.quoteFourStyling {
  font-size: 3vw;
}

#dynamicQuotes {
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 928px) {
  .article-preview-boxes-background {
    display: none;
  }
}

@media (max-width: 1472px) {
  .article-preview-box-right,
  .article-preview-box-border-animation-box-right {
    display: none;
  }
}

@media (max-width: 1472px) {
  .article-preview-description-text {
    display: none;
  }

  .article-preview-title-text {
    font: bold 0.9rem "Alfa Slab One", system-ui;
  }
  .bottom-left-box-text {
    font-size: 1rem;
  }
}

@media (max-width: 1270px) {
  .top-left-box,
  .bottom-left-box,
  .top-bottom-column {
    display: none;
  }

  .middle-right-box {
    height: 60vw;
    margin: 0;
  }
}

/* Phone layout media queres*/

@media (max-width: 800px) {
  .middle-part-container {
    /*if I use the short form for writing margin, it somehow overwrites other parts of css. It doesn't make sense but it does that*/
    margin-top: 3vh;
    margin-right: 0vw;
    margin-left: 3vw;
  }

  .one-background-image-editing,
  .second-background-image-editing,
  .third-background-image-editing,
  .fourth-background-image-editing {
    display: none;
  }

  .general-styling {
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
  }

  #dynamicQuotes {
    display: none;
  }

  .Welcome-video-row,
  .User-video-row,
  .Majora-here-video-row,
  .description-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .outer-container-top-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 72vh;
  }

  .text-align-phone {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 15vh;
  }

  .middle-right-box {
    display: none;
  }

  .top-left-box,
  .bottom-left-box,
  .top-bottom-column {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 60vh;
    align-items: center;
  }

  .year-in-percentage-text {
    z-index: 1;
    color: rgb(122, 172, 231);
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Alfa Slab One", system-ui;
  }

  .of-the-year-has-passed-text {
    z-index: 1;
    color: rgb(197, 211, 249);
    font-weight: bold;
    font-family: "Alfa Slab One", system-ui;
    font-size: 1.2rem;
  }

  .dynamic-date-year-text {
    z-index: 1;
    color: rgb(197, 211, 249);
    font-weight: bold;
    font-family: "Alfa Slab One", system-ui;
    font-size: 1.2rem;
    margin-top: 2vh;
  }

  .black-transparent-box-top-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    height: 70%;
    width: 92%;
    border-radius: 30px;
  }

  .bottom-left-box {
    overflow: visible;
    align-items: flex-start;
  }

  .bottom-left-box-text {
    display: flex;
    font-family: "Alfa Slab One", system-ui;
    font-size: 0.9rem;
    position: relative;
    color: rgb(197, 211, 249);
  }

  .outer-container-middle-part {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .kitten-link {
    margin-top: 2vh;
  }

  .kitten-link svg {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;
  }
}
